{% extends "base.html" %}

{% block content %}
<a href="javascript:history.back()" class="back-button">
  <i class="fa fa-arrow-left"></i> Back
</a>
<div class="container">
    <h2>Search Results</h2>
    {% if offices %}
        <div class="card-container">
            {% for office in offices %}
                <a href="{{ url_for('office_view', office_name=office) }}" class="card">{{ office }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No matching offices found.</p>
    {% endif %}
</div>
{% endblock %}
